doctype html
html
  head
    title= title
    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/jquery.flot.min.js')
    script(src='/js/jquery.flot.pie.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/j1.js')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="/css/graphene-theme.min.css")
    link(rel="stylesheet", href="/css/c1.css")
  body(style="padding-left: 13px; width:99%")
   nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
     div(class="navbar-header pull-right")
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
       span(class="sr-only") Toggle navigation
       span(class="icon-bar")
       span(class="icon-bar")
       span(class="icon-bar")
      a(class="navbar-brand")= title

     div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav")
       li
        a(href="/") home 
         span(class="glyphicon glyphicon-home")
       li
        a(href="/summary") summary 
         span(class="glyphicon glyphicon-cloud")
       li
        a(href="/transactions") transactions 
         span(class="glyphicon glyphicon-th-list")


   div(id="myModal", class="modal fade", tabindex="-1", role="dialog")
    div(class="modal-dialog")
     div(class="modal-content")
      div(class="modal-header")
       button(type="button", class="close", data-dismiss="modal", aria-label="close")
        span(aria-hidden="true") &times;
       h4(id="myModalTitle", class="modal-title") modal title
      div(id="myModalBody", class="modal-body")
       p One fine body&hellip;
      div(class="modal-footer")

   block header
   block content
   block pre-footer
   block footer


