---
# designate lines to analyze or ignore
status_to_analyze: "posted"
# pretty print account names based on substring
rename_accounts:
 - match: "1234"
   name: "checking"
# global warning ammount
global_warning_amount: 10000
# warnings (based on categories)
warnings:
 - category: "unknown"
   upper_limit: 0
 # can check for minimum expected value as well
 - category: "home.income"
   lower_limit: 8000
   upper_limit: 9000
 - category: "home.mortgage"
   upper_limit: 5001
# categorize transactions based on substring
## allows for a macro and micro level category
categories:
 - "match": "JPMORGAN CHASE CHASE"
 - "macro": "home"
 - "micro": "mortgage"

 # car
 ## gas
 - match: "CHEVRON 7-ELEVEN"
   macro: "car"
   micro: "gas"

 # bills
 - match: "TIME WARNER CABLE"
   macro: "bill"
   micro: "cable"
 - match: "AT&T"
   macro: "bill"
   micro: "cell"

 # food
 ## grocery
 - match: "HEB"
   macro: "food"
   micro: "grocery"
 - match: "TRADER JOE"
   macro: "food"
   micro: "grocery"
 - match: "WHOLEFDS"
   macro: "food"
   micro: "grocery"
 ## restaurant
 - match: "FREEBIRDS WORLD BURRIT"
   macro: "food"
   micro: "restaurant"
 - match: "JERSEY MIKE"
   macro: "food"
   micro: "restaurant"
 ## pizza
 - match: "PAPA JOHN"
   macro: "food"
   micro: "pizza"
 ## fast
 - match: "P TERRY"
   macro: "food"
   micro: "fast"
 - match: "MCDONALD"
   macro: "food"
   micro: "fast"
 - match: "CHICK-FIL-A"
   macro: "food"
   micro: "fast"
 - match: "TACO BELL"
   macro: "food"
   micro: "fast"
 - match: "JIMMY JOHNS"
   macro: "food"
   micro: "fast"

 # shopping
 ## stuff
 - match: "WALGREENS"
   macro: "shopping"
   micro: "stuff"
 - match: "JO-ANN"
   macro: "shopping"
   micro: "stuff"
